// https://colorpalettes.io/retro-synthwave-sunset-color-palette/
$violet-indigo: #3F2A56;
$pickled-pink: #E0457B;
$nuclear-sunset: #ED9B33;
$vapor-blue: #5461C8;
$mystic-iris: #7A93DC;
$midnight-dreams: #051C2C;
