@import './_colors.scss';

$border-color: $mystic-iris;
$background-color: ghostwhite;
$link-color: $mystic-iris;
$text-color: $midnight-dreams;
$text-color-error: $pickled-pink;
$text-color-muted: $mystic-iris;
$title-color: $vapor-blue;
$button-background-color: $mystic-iris;
$button-text-color: ghostwhite;
$button-border-color: $mystic-iris;
$button-disabled-background-color: lightgray;
$button-disabled-text-color: ghostwhite;
$button-disabled-border-color: lightgray;
$form-label-color: $mystic-iris;
$bounty-background-color: lavender;
$bounty-title-color: $violet-indigo;
$bounty-amount-color: $nuclear-sunset;
$application-assigned-background: $mystic-iris;
